:root {
  --color-blue: rgba(33, 150, 243, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-dark-grey: rgba(33, 33, 33, 1);
  --color-light-grey: rgba(117, 117, 117, 1);
  --color-lighter-grey: rgba(255, 255, 255, 0.6);
  --background-color: rgba(47, 48, 58, 1);

  --text-family: 'Roboto';

  --font-weight-900: 900;
  --font-weight-700: 700;
  --font-weight-500: 500;
  --font-weight-400: 400;

  --font-size-44: 44px;
  --font-size-36: 36px;
  --font-size-26: 26px;
  --font_size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14p;
}
header,
body,
footer,
a {
  font-family: 'Roboto';
  font-style: normal;
}
.logo {
  font-size: 26px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-26);
  line-height: 31px;
  letter-spacing: 0.03em;
}
.web {
  color: var(--color-blue);
}
.studio__black {
  color: var(--color-black);
}
.studio__white {
  color: var(--color-white);
}
.header__nav__items .header__nav__links {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header__nav {
  color: var(--color-dark-grey);
}
.header_contact {
  color: var(--color-light-grey);
}
.underline {
  text-decoration: underline;
}
a {
  text-decoration: none;
}
a:focus,
a:hover,
h1:focus,
h1:hover,
h2:focus,
h2:hover,
h3:focus,
h3:hover,
p:focus,
p:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-blue);
}
a:active {
  color: var(--color-blue);
}
button:hover,
button:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}
button {
  cursor: pointer;
}
.button__main-page {
  color: var(--color-dark-grey);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-16);
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button__portfolio {
  color: var(--color-dark-grey);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}
h1 {
  color: var(--color-white);
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-44);
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.background {
  background-color: var(--background-color);
}
.headline {
  color: var(--color-dark-grey);
  font-weight: var(--font-weight-700);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.headline__items {
  color: var(--color-light-grey);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: 24px;
  letter-spacing: 0.03em;
}
h2 {
  color: var(--color-dark-grey);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-36);
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__member {
  color: var(calor-dark-grey);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  line-height: 19px;
  letter-spacing: 0.03em;
}
.team__member__position {
  color: var(--color-light-grey);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: 19px;
  letter-spacing: 0.03em;
}
.body__cards {
  color: var(calor-dark-grey);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-18);
  line-height: 36px;
  letter-spacing: 0.06em;
}
.body__cards-items {
  color: var(--color-light-grey);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.footer__nav {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: 24px;
  letter-spacing: 0.03em;
}
.footer__nav__address {
  color: var(--color-white);
}
.footer__nav__links {
  color: var(--color-lighter-grey) '';
}
